@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
   background-color: black;
}
.container{
    background-color: white;
    height: 50%;
    width: 80%;
   margin:1rem 8rem 0rem 8rem;
   display: flex;
   justify-content: center;
   align-items: flex-start;
}
  .container-2{
    background-color: white;
    height: 50%;
    width: 80%;
    margin: 0rem 8rem ;
   
    display: flex;
   justify-content: center;
  
  }
.outer-box{
  height: 200px;
  width: 90%;
  /* background-color: black; */
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;

  background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1) ),url(../image/washington.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  height: 100%;
  width: 25%;
 
}
.box-1{
  background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9) ),url(../image/box-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box-2{
  background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9) ),url(../image/box-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box-3{
  background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9) ),url(../image/box-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box-4{
  background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6) ),url(../image/box-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box .h{
  margin-top: 15px;
}
.box .p1{
  font-size: 10px;
  color: white;
  text-align: center;
  margin-top: 5px;
}
.box .h h4{
  font-size: 20px;
  text-align: center;
  
  color: white;
  font-weight: 500;
}
.button{
  display: flex;
  justify-content: center;
}
.button input{
  text-align: center;
  margin-top: 15px;
  background-color: black;
  border: 0.5px solid white;
  border-radius: 1px;
  backface-visibility: hidden;
  color: white;
  font-size: 10px;
}
.container-2 .inner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  background-color: rgb(201, 200, 200);
}
.inner h6{
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  color: rgb(244, 65, 95);
}
.para{
  margin-bottom: 15px;
}
.para p{
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}
.email-input input{
  padding: 5px 100px 5px 5px;
}
.list{
  list-style: none;
  
}
.item{
  display: inline-block;
  margin: 10px 20px;
  font-size: 10px;
}